build/
.vscode/
ph_*/
*.nds
*bios.bin
/m2ctx
*.sav
*.ml*
*.xMAP
objdiff.json
/objdiff-cli
/objdiff-cli.exe
/dsd
/dsd.exe
/dsd.pdb
build.ninja
.ninja_log*
.ninja_lock
.ninja_deps
/wibo
m2c*.c
nonmatchings/
